@model PROG20_ASPNET1_Inlämningsuppgift2.Models.Kund

<!--för att köra validering på klienten-->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<div class="centerDiv">
    <form class="centerForm" asp-controller="Account" asp-action="Login" method="post">
        <br />

        <label asp-for="AnvandarNamn">Användarnamn</label><br />
        <input type="text" asp-for="AnvandarNamn" /><br />
        <span asp-validation-for="AnvandarNamn"></span>

        <br />

        <label asp-for="Losenord">Lösenord</label><br />
        <input type="password" asp-for="Losenord" /><br />
        <span asp-validation-for="Losenord"></span>

        <br /><br />

        <button type="submit">Logga in</button>
    </form>

    <p>@ViewBag.Message</p>
</div>
