
<div id="index">
    <h2>Välkommen till Pizzeria Tomasos i Solna</h2>
    <br /><br />
    <p>Här kan du beställa din mat och få den levererad direkt hem till din dörr eller färdig att hämta i vår restaurang.</p>
    <p>Öppettider: Mån-Tor 11-21, Fre-Lör 11-22, Sön 11-21</p>
    <p>(Beställning stänger 25 min innan stägning)</p>
    <br /><br />
    <h3>Lunch</h3>
    <br />
    <p>Vardagar kl 11-14</p>
    <p>Pizzanr 1-24, pastarätter, kebab, sallader</p>
    <p>Ingår: dricka, salladsbuffe, bröd och kaffe</p>
    <br /><br />
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034.264656626973!2d18.021242916155085!3d59.34522991678948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d9cd12a90e3%3A0x5d507840ccf1f4a3!2sTomtebodav%C3%A4gen%203A%2C%20171%2065%20Solna!5e0!3m2!1ssv!2sse!4v1612965321104!5m2!1ssv!2sse" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
